/* Маленькие ui компоненты вроде кнопки, ссылки, текста */

.company-logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.company-logo--space--small {
  gap: 0 15px;
}

.company-logo__left-container {
  margin-top: 5px;
}

.company-logo__right {
  letter-spacing: -4px;
}

.company-logo__left {
  letter-spacing: -7px;
}

.company-logo__right--mode--primary {
  color: var(--color-white);
  transition: 0.2s color;
}

.company-logo__right--size--md {
  font-weight: 400;
  font-size: clamp(2.4rem, 5vw, 3.2rem);
}

.company-logo__left--mode--primary {
  color: var(--color-white);
}

.company-logo__left--size--md {
  font-weight: 400;
  font-size: clamp(2.4rem, 5vw, 3.2rem);
}

.company-logo__description--mode--primary {
  color: var(--color-white);
}

.company-logo__description--size--md {
  font-size: 0.8rem;
}

/* ============UI================ */

.title--mode--primary {
  color: var(--color-text-primary);
}

.title--size--extra {
  font-weight: 500;
  font-size: clamp(2rem, 2.8vw, 2.4rem);
}

.title--size--md {
  font-weight: 500;
  font-size: clamp(1.4rem, 2.8vw, 1.6rem);
}

/* ============UI================ */

.paragraph {
  transition: 0.3s font-size;
}

.paragraph--mode--primary {
  color: var(--color-white-800);
}

.paragraph--mode--dark {
  color: var(--color-text-primary);
}

.paragraph--size--extra {
  font-weight: 500;
  font-size: clamp(1rem, 2.8vw, 1.2rem);
}

.paragraph--size--md {
  font-weight: 400;
  font-size: clamp(0.8rem, 2.8vw, 1rem);
}

/* ============UI================ */

.button-link {
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.button-link--mode--primary {
  align-items: center;
  background-color: var(--color-button-primary);
  transition: 0.2s background-color;
}

.button-link--space--md {
  gap: 0 10px;
}

.button-link--wide {
  flex: 1 1 50%;
}

.button-link--size--md {
  padding: 14px 20px;
}

.button-link__icon--mode--primary {
  flex-shrink: 0;
  fill: var(--color-white);
}

.button-link__icon--size--md {
  width: 25px;
  height: 25px;
}

.button-link__text--mode--primary {
  color: var(--color-white);
}

.button-link__text--size--md {
  font-weight: 400;
  font-size: 1rem;
}

/* ============UI================ */

.line {
  position: relative;
  transform: translate(50%);
}

.line--mode--primary {
  background-color: var(--color-white-200);
}

.line--size--md {
  width: 50%;
  height: 1px;
}

.line__polygon {
  position: absolute;
  top: 50%;
  left: 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 50% 50%);
}

.line__polygon--mode--primary {
  background-color: white;
}

.line__polygon--size--md {
  height: 2px;
}

.line__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.line__content--mode--primary {
  background-color: var(--color-white);
  color: var(--color-text-primary);
  padding: 0 15px;
}

/* ============UI================ */

.contact {
  width: 100%;
  position: relative;
}

.contact__field--wide {
  width: 100%;
}

.contact__field--size--md {
  font-weight: 500;
}

.contact__field--mode--primary {
  padding: 30px 8px 10px 8px;
  color: var(--color-text-primary);
  border: 1px solid var(--color-white-200);
}

.contact__field--mode--primary:focus {
  border-left: 1px solid var(--color-active-primary);
}

.contact__label {
  pointer-events: none;
  cursor: default;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(8px, -50%);
  transition: 0.3s;
}

.contact__field--mode--primary:not(:focus):not(:placeholder-shown) + .contact__label .paragraph {
  font-size: 0;
}

.contact__field--mode--primary:not(:focus):not(:placeholder-shown) + .contact__label {
  transform: translate(8px, -18px);
}

.contact__field--mode--primary:focus + .contact__label {
  transform: translate(8px, -35px);
}

/* ============UI================ */

.button:focus-visible {
    outline: 1px solid var(--color-text-primary);
}

.buttion--mode--submit {
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--color-active-primary);
  transition: 0.2s background-color, 0.2s border;
}

.button--size--extra {
  padding: 10px 80px;
}

.button__text {
  transition: 0.2s color;
}

.button__text--mode--primary {
  color: var(--color-white);
}

.button__text--size--md {
  font-weight: 500;
  font-size: 1.1rem;
}

.radio-option {
  display: flex;
  align-items: center;
}

.radio-option__field {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-option__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.radio-option__label::before {
  content: '';
  display: inline-block;
  flex-shrink: 0;
}

.radio-option__label--space--small::before {
  margin-right: 0.5rem;
}

.radio-option__label--mode--primary::before {
  border-radius: 50%;
  border: 1px solid var(--color-white-200);
  transition: 0.1s border;
}

.radio-option__label--size--md::before {
  width: 20px;
  height: 20px;
}

.radio-option__label--mode--primary:hover::before {
  border-color: var(--color-active-primary);
  border: 5px solid var(--color-white-200);
}

.radio-option__field--mode--primary:checked+.radio-option__label::before {
  border: 5px solid var(--color-active-primary);
  outline: none;
}

.radio-option__field:focus-visible+.radio-option__label::before {
 outline: 1px solid var(--color-text-primary);
}

.radio-option-info__button {
  flex-shrink: 0;
  margin-top: 4px;
}

.radio-option-info--mode--info {
  fill: var(--color-white-400);
}

.radio-option-info--size--small {
  height: 16px;
  width: 16px;
}

.radio-option__paragraph--size-md {
  font-size: clamp(0.8rem, 2.8vw, 1rem);
}

.radio-option__paragraph--weight-extra {
  font-weight: 500;
}

.approval__agreement {
  cursor: pointer;
}

.approval__agreement:focus-visible {
  outline: 1px solid var(--color-text-primary)
}

.link--mode--outline {
  color: var(--color-active-primary);
  text-decoration: underline;
}

@media (hover: hover) {
  /* when hover is supported */
  .company-logo--mode--primary:hover .company-logo__right-container .company-logo__right {
    color: var(--color-text-primary);
  }

  .button-link--mode--primary:hover {
    background-color: var(--color-active-primary);
  }

  .buttion--mode--submit:hover {
    border-radius: 4px;
    border: 1px solid var(--color-white-200);
    background-color: transparent;
    color: var(--color-text-primary);
  }

  .buttion--mode--submit:hover .button__text {
    color: var(--color-text-primary);
  }
}
