/* Классы больших блоков которые могут являться например целым списком пользователей. */

.header {
  min-height: 100vh;
  background: url("../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1 1 50%;
}

.header__container {
  padding: 30px 38px;
}

.header__logo {
  background-color: transparent;
}

.page__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8vh;
}

.authorization__container {
  margin-top: 10vh;
  gap: 5vh;
  padding: 10px 80px;
}

.authorization__top {
  margin-bottom: 30px;
}

.authorization__title {
  margin-bottom: 20px;
}

.authorization__button-link-container {
  display: flex;
  gap: 20px 40px;
}

.registration__container {
  padding: 10px 80px;
}

.registration__top {
  display: flex;
  gap: 20px 40px;
  margin-bottom: 60px;
}

.registration__title {
  margin-bottom: 20px;
}

.registration__paragraph {
  margin-bottom: 60px;
}

.registration__middle {
  margin-bottom: 60px;
}

.registration__option-container {
  margin-bottom: 60px;
  display: flex;
  gap: 10px 50px;
}

.registration__option {
  gap: 0 10px;
}

.approval__container {
  display: flex;
  align-items: center;
  gap: 0 10px;
}

.page {
  flex: 1 1 50%;
}

@media (max-width: 1199px) {
  .authorization__container {
    padding: 10px 20px;
  }

  .registration__container {
    padding: 10px 20px;
  }
}

@media (max-width: 992px) {
  .authorization__button-link-container {
    flex-wrap: wrap;
  }

  .registration__option-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .header {
    min-height: 20vh;
  }
  .page__col {
    gap: 5vh;
  }
}
