.body-row__left {
	min-height: 100vh;
	background: url('../assets/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.body-row__container {
	padding: 30px 38px;
}

.header__top {
	display: flex;
	align-items: center;
}

.header__logo {
  display: inline-block;
}

.page__container {
	padding: 120px 80px;
}

.page__OAuth {
	margin-bottom: 60px;
}

.page__line {
  margin-bottom: 60px;
}

.OAuth__title {
  margin-bottom: 20px;
}

.OAuth__description {
  margin-bottom: 60px;
}

.OAuth__row {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.OAuth__button_col_2 {
  flex: 1 1 calc(50% - 30px)
}

.button-primary__svg {
  flex-shrink: 0;
  fill: var(--color-white);
  width: 25px;
  height: auto;
}

.registration__container {
	margin-top: 50px;
  margin-bottom: 70px;
}

.registration__title {
  margin-bottom: 15px;
}

.registration__description {
  margin-bottom: 60px;
}

.registration__row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px 40px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
	.page__container {
    padding: 20px;
  }
}

@media (max-width: 992px) {
	.OAuth__button_col_2 {
    flex: 1 1 100%
  }
}