:root {
	--color-text-primary: #2A4A5C;
	--color-button-primary: #255A9B;
	--color-button-secondory: #0076B6;
	--color-active-primary: #3698FB;
	--color-white-800: #7B8A92;
	--color-white-600: #96A5B1;
	--color-white-400: #AFAFAF;
	--color-white-200: #EEEEEE;
	--color-white: #ffffff;

	--container-extra: calc(1200px + 40px);
	/* 40 px padding */
}

*,
*:before,
*:after {
	font-weight: 300;
	font-family: 'Barlow', sans-serif;
	line-height: 1.1;
}

html,
body {
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.body-row {
  display: flex;
}

.body-col_2 {
  flex: 1 1 50%
}

.header {
	background-color: transparent;
}

.link-logo {
	display: inline-flex;
	gap: 15px;
	align-items: center;
}

.title-secondory {
	color: var(--color-white);
}

.title-secondory_size_md {
	letter-spacing: -4px;
	font-weight: 400;
	font-size: clamp(2.4rem, 5vw, 3.2rem);
}

.title-secondory_size_md:last-child {
	letter-spacing: -8px;
}

.title-secondory_hover {
	transition: 0.2s color;
}

.page {
	flex: 1 0 auto;
}

.title-primary {
	color: var(--color-text-primary);
}

.title-primary_size_extra {
	font-weight: 500;
	font-size: clamp(2rem, 2.8vw, 2.4rem);
}

.description-primary {
	color: var(--color-white-600);
}

.description-primary_size_md {
	font-weight: 400;
	font-size: clamp(1rem, 2.8vw, 1.3rem);
}

.button-primary {
	color: var(--color-white);
	background-color: var(--color-button-primary);
	transition: 0.2s background, 0.2s color;
}

.button-primary_size_md {
	padding: 10px;
}

.button-secondory {
	background-color: var(--color-button-secondory);
}

.button-primary_row {
	display: flex;
	align-items: center;
	gap: 10px;
}

.footer {
	flex: 0 0 auto;
}

.container {
	max-width: var(--container-extra);
	padding: 0 20px;
	margin: 0 auto;
}

@media (hover: hover) {
  /* when hover is supported */
  .link-logo:hover .title-secondory_hover {
   color: var(--color-text-primary);
  }

	.button-primary_hover:hover {
		color: var(--color-white);
		background-color: var(--color-active-primary);
	}
}